﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple demo app of an employee contact list, implemented in ASP.NET Core.</p>
</div>
